---
import { basics } from '@cv'

---

<div
  class='slide-enter flex w-full justify-center md:col-span-6 print:hidden text-center pb-12'>
  <div class='flex items-center space-x-0 text-xs opacity-50'>
    <span class='gap-1 text-center no-underline'>
      {
      
    }
      <p class='mt-3 text-center font-mono'>
        Inspired from someone and developed with <span class='font-black'> Respect & Gratitude </span>
        </a>
      </p>
      <p class='mt-3 text-center'>Since 2023 © Fardin Ahsan ✨</p>
    </span>
  </div>
</div>
